<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  
     <select id="getNum" resultType="java.lang.Integer" >
  		select member_seq.nextval from member
  	</select>
  	
  <insert id="join" parameterType="MemberDTO">
  	insert into member values(member_seq.nextval, #{id}, #{name}, #{pw}, #{address}, #{phone}, #{email}, #{grade})
    </insert>
  
  <select id="login" parameterType="MemberDTO" resultType="MemberDTO">
  	select * from member where id=#{id} and pw=#{pw}
  </select>
  
  <select id="idCheck" parameterType="java.lang.String" resultType="java.lang.Integer">
  	select count(id) from member where id=#{id}
  </select>
  
  <update id="update" parameterType="MemberDTO">
  	update member set pw=#{pw}, name = #{name}, address=#{address}, phone=#{phone}, email=#{email} where id=#{id}
  </update>
  
  <delete id="delete" parameterType="java.lang.String" >
  	delete member where id=#{id}
  </delete>
  </mapper>